<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All posts</title>
</head>
<body ng-app="app" >
<div ng-controller="posts">

    <div class="col-sm-8">
        <button class="btn btn-primary new_post_button" type="submit"><a href="/#!/create">Create new post</a></button>
        <ul>
            <div ng-repeat="post in posts">
                <h3>{{post.title}}</h3>
                <p>Author: {{post.user.name}}</p>
                <!--{{post.id}}-->
                <p class="box"> {{post.body}}</p> <a ng-href="/#!/show_post/{{post.id}}">more</a>
            </div>
        </ul>
    </div>
</div>

</body>
</html>